<h2>
    Hola, {{ user.email }}
</h2>
<p>
    Para poder cambiar tu clave de acceso. Debes hacer click aquí:
    <a style="color:blue" href="{{ domain ~ path('cambiar_clave',{'token' :  user.token }) }}">aquí</a>
</p>