{% extends 'base.html.twig' %}


{% block body %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form(usuarioEmailForm) }}
{% endblock %}